.header {
  background-color: #5ADBB5;
  padding-bottom: 3%;
}

.enlace-naftalina {
  margin-left: 20%;
  margin-top: 5%;
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
}

.enlace-naftalina a {
  text-decoration: none;
  color: #FFF;
}

.enlace-naftalina a:hover {
  color: #DB1A5B;
}

nav {
  float: right;
  padding-right: 15%;
  padding-top: 7%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3em;
}

li {
  text-align: right;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
}

menu a {
  text-decoration: none;
  color: #FFF;
  padding: 2%;
}

.menu a:hover {
  color: #DB1A5B;
}

.imagen-bg {
  width: 100vw;
}

.nosotros {
  margin: 5%;
}

h3 {
  color: #DB1A5B;
  font-family: 'Anton', sans-serif;
}

p {
  color: #B0AAAA;
  font-family: 'Dosis', sans-serif;
}

.datos-contacto {
  margin-bottom: 10%;
}

.contacto {
  margin-top: 9%;
  margin-left: 5%;
}

.card-title {
  color: #5ADBB5;
  font-family: 'Anton', sans-serif;
  size: 0.1em;
  letter-spacing: 0.1em;
}

.contenedor-cards {
  margin: 5%;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover:not(.active) {
  text-decoration: none;
  color: #DB1A5B;
}

button {
  border-radius: 0.3em;
  background-color: #DB1A5B;
  padding: 1%;
  border-style: none;
}

button:hover:not(.active) {
  border-radius: 0.3em;
  padding: 1%;
  background-color: #5ADBB5;
}

footer p {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 5%;
  padding: 5%;
  text-align: center;
  background-color: #5ADBB5;
  margin-top: 5%;
  color: #FFF;
}

/*.card {
  border: solid 0.2em;
  border-color: gray;
  padding: : 05em;
}*/
